header{
    font-weight: bold;
    text-align: center;
    font-size: larger;
}

.score, .content, .buttons{
    font-size: large;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.message{
    text-align: center;
}

footer{
    text-align: center;
}